* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    box-sizing: 100%;
}

.formulario {
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
    color: black;
}

.redes {
    height: 100px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.sociales {
    text-align: center;
    margin-block-end: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.sociales li {
    display: inline-block;
}

.sociales a {
    height: 50px;
    padding: 20px;
}

.derecho {
    text-decoration: none;
    padding: 10px;
    display: block;
}

@media screen and (max-width: 768px) {
    .container {
        gap: 0.7rem;
    }
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}